.title {
    border-style: ridge;
    margin-left: auto;
    margin-right: auto;
    font-family: "Agency FB";
    text-align: center;
    vertical-align: middle;
}

.container {
    border-style: solid;
    border-color: black;
}

#complete {
    border-color: blue;
    border-style: double;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
}

#main .container {
    padding: 10px;
}

#title {
    border-color: blue;
    border-style: groove;
    width: 300px;
    vertical-align: middle;

}

#main {

    border-style: dashed;
    border-color: forestgreen;
    padding: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#main h2 {
    font-family: "Palatino Linotype";
}

#main th {
    font-family: "Bitstream Vera Sans Mono";
    border-bottom: 2pt solid black;
}

#main-title {
    border-color: aqua;
    border-style: groove;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 75px;
}

#main-focus {
    border-color: red;
    border-style: solid;
    margin: 10px;
    margin-right: auto;
    width: 65%;
    float: left;
}

#portfolio_table {
    border-collapse: collapse;
}

#main-focus td {
    font-family: "Felix Titling";
    border-bottom: 1pt dotted black;
}

#main-options {
    border-color: green;
    border-style: solid;
    margin: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 30%;
    float: right;
}

#options_table {
    border-bottom: 1pt dotted black;
    text-align: center;
}

#main-options td {
    font-family: Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    border-bottom: 1pt dotted black;
}

#verbage {
    border-color: orange;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 80%;
    min-height: 1px;
    clear: both;
    text-align: center;
    vertical-align: middle;
    font-family: "Fira Code";
}

#footer {
    border-style: inset;
    border-color: blueviolet;
    margin-top: 3px;
    padding: 10px;
    text-align: right;
    font-family: "Trebuchet MS";
}