.title {
    border-style: ridge;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.container {
    border-style: solid;
    border-color: black;
    padding: 5px;
}

#complete {
    border-color: blue;
    border-style: double;
    padding: 10px;
    margin: 10px;
    width: 98.75%;
    height: 100%;
}

#title {
    border-color: blue;
    border-style: double;
    width: 300px;
    height: 60px;
}

#main {

    border-style: dashed;
    border-color: forestgreen;
    padding: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#main-title {
    border-color: aqua;
    border-style: groove;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 75px;
}

#main-focus {
    border-color: red;
    border-style: solid;
    margin: 10px;
    margin-right: auto;
    width: 65%;
    float: left;
}

#main-options {
    border-color: green;
    border-style: solid;
    margin: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 30%;
    float: right;
}

#verbage {
    border-color: orange;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 80%;
    clear: both;
}

#footer {
    border-style: inset;
    border-color: blueviolet;
    margin-top: 3px;
    padding: 10px;
}