<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style_main.css" type="text/css">
    <meta charset="UTF-8">
    <title>Testing</title>
    <link rel="shortcut icon" href="dollar.ico" type="image/x-icon">
    <link rel="icon" href="dollar.ico" type="image/x-icon">

</head>
<body>

<div class="container" id="all">
    <div class="title" id="title">
        <h1>
            <center>TITLE</center>
        </h1>
    </div>
    <div class="container" id="main">
        <div class="title" id="main-title">
            <h1>
                <center>MAIN TITLE</center>
            </h1>
        </div>
        <div class="container" id="main-focus">
            <h1>
                <center>MAIN FOCUS</center>
            </h1>
        </div>

        <div class="container" id="main-options">
            <h1>
                <center>OPTIONS</center>
            </h1>
        </div>

        <div class="container" id="verbage">
            <h1>
                <center>VERBAGE</center>
            </h1>

        </div>
    </div>
</div>

<div class="footer" id="footer">
    Andrew Edmonds &copy; 2017
</div>
</body>
</html>

