<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style_main.css" type="text/css">
    <meta charset="UTF-8">
    <title>Testing</title>
    <link rel="shortcut icon" href="dollar.ico" type="image/x-icon">
    <link rel="icon" href="dollar.ico" type="image/x-icon">

</head>
<body>

<div class="container" id="all">
    <h1> This is a test</h1>
    <p> This is a test paragraph</p>
</div>

<div class="footer" id="footer" >
    Andrew Edmonds &copy; 2017
</div>
</body>
</html>

