{% extends "base-detailed.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ name }}{% endblock %}

{% block page_title %}
<h2>
    <center>MyPyFi</center>
</h2>
{% endblock %}

{% block main_title %}
<h1>{{ name }}</h1>
{% endblock %}

{% block main_focus %}
{% if not holding_data|count > 0 %}
<h1>
    <center>No Holdings Found!</center>
</h1>
<p>
<center>There are no holdings saved in the portfolio {{ name }}</center></p>
{% else %}

<h2>
    <center>Holdings</center>
</h2>
<table style="width:100%" id="portfolio_table">
    <tr>
        <th>
            <center>Symbol</center>
        </th>
        <th>
            <center>Market Value</center>
        </th>
        <th>
            <center>Total Profit</center>
        </th>
        <th>
            <center>Profit %</center>
        </th>
        <th>
            <center>Portfolio %</center>
        </th>
        <th>
            <center>Last Price</center>
        </th>
        <th>
            <center>Shares</center>
        </th>
        <th>
            <center>Purchase Price</center>
        </th>
        <th>
            <center>Purchase Date</center>
        </th>
    </tr>
    {% for holding in holding_data %}
    <tr>
        <td>
            <center>{{ holding["symbol"] | upper }}</center>
        </td>
        <td>
            <center>{{ "${:,.2f}".format(holding["last_price"]*holding["shares"]) }}</center>
        </td>
        <td>
            <center>{{ "${:,.2f}".format(holding["total_profit"]) }}</center>
        </td>
        <td>
            <center>{{ "{0:.2f}%".format(holding["profit_percent"]*100) }}</center>
        </td>
        <td>
            <center>{{ "{0:.2f}%".format(holding["portfolio_percent"]*100) }}</center>
        </td>
        <td>
            <center>{{ "${:,.2f}".format(holding["last_price"]) }}</center>
        </td>
        <td>
            <center>{{ holding["shares"] }}</center>
        </td>
        <td>
            <center>{{ "${:,.2f}".format(holding["purch_price"]) }}</center>
        </td>
        <td>
            <center>{{ "{:%m-%d-%Y}".format(holding["purch_date"]) }}</center>
        </td>
        <td>
    </tr>
    {% endfor %}
    <tr id="cash_row">
        <td>
            <center>CASH</center>
        </td>
        <td>
            <center>{{ "${:,.2f}".format(cash) }}</center>
        </td>
        <td>
            <center>--</center>
        </td>
        <td>
            <center>--
            </center>
        </td>
        <td>
            <center>{{
                "{0:.2f}%".format(100*cash/(holding_data|sum(attribute="market_value")+cash))
                }}
            </center>
        </td>
        <td>
            <center>--
            </center>
        </td>
        <td>
            <center>--
            </center>
        </td>
        <td>
            <center>--
            </center>
        </td>
        <td>
            <center>--
            </center>
        </td>
    </tr>
    <tr id="focus_total_row">
        <td>
            <center>TOTALS</center>
        </td>
        <td>
            <center>{{ "${:,.2f}".format(cash + holding_data|sum(attribute="market_value")) }}</center>
        </td>
        <td>
            <center>{{ "${:,.2f}".format(holding_data|sum(attribute="total_profit")) }}</center>
        </td>
        <td>
            <center>{{
                "{0:.2f}%".format(100*holding_data|sum(attribute="total_profit")/holding_data|sum(attribute="market_value"))
                }}
            </center>
        </td>
        <td>
            <center>--
            </center>
        </td>
        <td>
            <center>--
            </center>
        </td>
        <td>
            <center>--
            </center>
        </td>
        <td>
            <center>--
            </center>
        </td>
        <td>
            <center>--
            </center>
        </td>
    </tr>
</table>

{% endif %}
{% endblock %}

{% block main_options %}
{% if not holding_data|count > 0 %}
<h1>
    <center>No Holdings Found!</center>
</h1>
<p>
<center>There are no holdings saved in the portfolio {{ name }}</center></p>
{% else %}
<h2>
    <center>Options</center>
</h2>
<table style="width:100%" id="options_table">
    <tr>
        <th>
            <center>Select an option</center>
        </th>
    </tr>
    {% for holding in holding_data %}
    <tr>
        <td>
            <a class="button"
               href="{{ url_for('main.holding_edit', name=name, symbol=holding['symbol'], holding_id = holding['id'])}}">Edit</a>
            <a class="button"
               href="{{ url_for('main.holding_delete_ask', name=name, symbol=holding['symbol'], holding_id = holding['id'])}}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endif %}
{% endblock %}

{% block verbage %}
<table style="width:100%" id="verbage_action_table">
    <tr>
        <th>
            <center>Please select from the following analytical options:</center>
        </th>
    </tr>
    <tr>
        <td>
            <a class="button" href="{{ url_for('main.portfolio_optimal_ask', name=name) }}">OPTIMIZE</a>
            your portfolio based on Modern Portfolio Theory (MPT)
        </td>
    </tr>
    <tr>
        <td>
            <a class="button" href="{{ url_for('main.portfolio_simulate_ask', name=name) }}">SIMULATE</a>
            the forward movements of your portfolio
        </td>
    </tr>
</table>
<p></p>
<table style="width:100%" id="verbage_edit_table">
    <tr>
        <th>
            <center>You may also choose to:</center>
        </th>
    </tr>
    <tr>
        <td>
            <a class="button" href="{{ url_for('main.holding_add', name=name) }}">ADD</a>
            holdings to your portfolio
        </td>
    </tr>
    <tr>
        <td>
            <a class="button" href="{{ url_for('main.portfolio_edit', name=name) }}">EDIT</a>
            your portfolio data
        </td>
    </tr>
    <tr>
        <td>
            <a class="button" href="{{ url_for('main.portfolio_delete_ask', name=name) }}">DELETE</a> the entire
            portfolio
        </td>
    </tr>
</table>
{% endblock %}




