{% extends "base-detailed.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}Edit Holding{% endblock %}

{% block page_title %}
<h2>
    <center>MyPyFi</center>
</h2>{% endblock %}

{% block main_title %}<h1>Edit {{ symbol | upper }} Holding in {{ session['portfolio'] }}</h1>{% endblock %}

{% block main_focus %}{{ wtf.quick_form(form) }}{% endblock %}

{% block main_options %}    <p>
<center><a class="button" href="{{ url_for('main.portfolio_main') }}">Return to the main page</a></center>
</p>{% endblock %}

{% block verbage %}
<p>
<center>Edit data for {{ symbol | upper }} holding</center>
</p>
{% endblock %}