{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}MyPyFi{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        <center>Delete {{ symbol | upper }} from {{ name }}</center>
    </h1>
    <p>
    <center>Delete {{ symbol | upper }} (holding_id: {{ holding_id }})</center>
    </p>
</div>

<div style="text-align:center">
    <p>Are you sure you want to delete {{ symbol | upper }} from {{ name }}?</p>
    <a class="button" href="{{ url_for('main.holding_delete', holding_id=holding_id) }}">Yes</a>
    <a class="button" href="{{ url_for('main.portfolio', name=name) }}">No</a>
</div>

{% endblock %}