{% extends "base-detailed.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}Delete Portfolio{% endblock %}

{% block page_title %}
<h2>
    <center>MyPyFi</center>
</h2>{% endblock %}

{% block main_title %}<h1>Delete {{ name }}</h1>{% endblock %}

{% block main_focus %}
<div style="text-align:center">
    <p>Are you sure you want to delete {{ name }}?</p>
    <a class="button" href="{{ url_for('main.portfolio_delete') }}">Yes</a>
    <a class="button" href="{{ url_for('main.portfolio',name=name) }}">No</a>
</div>{% endblock %}

{% block main_options %}    <p>
<center><a class="button" href="{{ url_for('main.portfolio_main') }}">Return to the main page</a></center>
</p>{% endblock %}

{% block verbage %}
<p>
<center>Delete {{ name }}?</center>
</p>
{% endblock %}