{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}MyPyFi{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1><center>{{ name }}</center></h1>
    <p><center>Here's where manage and edit your portfolio</center></p>
</div>

<div style="text-align:center">
    <a class="button" href="{{ url_for('main.holding_add') }}">Add Holding</a>
</div>

{% if not holding_data|count > 0 %}
    <h1><center>No Holdings Found!</center></h1>
    <p><center>There are no holdings saved in the portfolio {{ name }}</center></p>
{% else %}
    <h1><center>Holdings</center></h1>
    <table style="width:100%">
      <tr>
          <th><center>Name</center></th>
          <th><center>Total Value</center></th>
          <th><center>Number of Holdings</center></th>
          <th><center>Oldest Holding</center></th>
      </tr>
      {% for holding in holding_data %}
      <tr>
          <td><center>{{ holding["name"] }}</center></td>
          <td><center>{{ "${:,.2f}".format(holding["cash"]) }}</center></td>
          <td><center> </center></td>
          <td><center> </center></td>
          <td><button type="button">Select</button></td>
          <td><button type="button">Delete</button></td>
      </tr>
      {% endfor %}
    </table>

{% endif %}

{% endblock %}