{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}MyPyFi{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        <center>{{ name }}</center>
    </h1>
    <p>
    <center>Here's where manage and edit your portfolio</center>
    </p>
</div>

<div style="text-align:center">
    <a class="button" href="{{ url_for('main.holding_add', name=name) }}">Add Holding</a>
</div>

{% if not holding_data|count > 0 %}
<h1>
    <center>No Holdings Found!</center>
</h1>
<p>
<center>There are no holdings saved in the portfolio {{ name }}</center></p>
{% else %}
<h1>
    <center>Holdings</center>
</h1>
<table style="width:100%">
    <tr>
        <th>
            <center>Symbol</center>
        </th>
        <th>
            <center>Shares</center>
        </th>
        <th>
            <center>Purchase Date</center>
        </th>
        <th>
            <center>Purchase Price</center>
        </th>
        <th>
            <center>Market Value</center>
        </th>
    </tr>
    {% for holding in holding_data %}
    <tr>
        <td>
            <center>{{ holding["symbol"] | upper }}</center>
        </td>
        <td>
            <center>{{ holding["shares"] }}</center>
        </td>
        <td>
            <center>{{ holding["purch_date"] }}</center>
        </td>
        <td>
            <center>{{ "${:,.2f}".format(holding["purch_price"]) }}</center>
        </td>
        <td>
            <center>{{ "${:,.2f}".format(holding["purch_price"]*holding["shares"]) }}</center>
        </td>
        <td>
            <a class="button" href="{{ url_for('main.holding_edit', name=name, symbol=holding['symbol'], holding_id = holding['id'])}}">Edit Holding</a>
            <a class="button" href="{{ url_for('main.holding_delete_ask', name=name, symbol=holding['symbol'], holding_id = holding['id'])}}">Delete Holding</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endif %}
<div style="text-align:center">
    <a class="button" href="{{ url_for('main.portfolio_edit', name=name) }}">Edit Portfolio Data</a>
    <a class="button" href="{{ url_for('main.portfolio_delete_ask', name=name) }}">Delete Portfolio</a>
</div>
{% endblock %}