body {
    background-color: lightseagreen;
}

#container {
    background-color: white;
    width: 800px;
    margin-left: auto;
    margin-right:auto;
}
#thisisatest {
    text-align: center;
}

#header {
    background-color: blue;
    color: yellow;
    text-align: center;
}